{{sections/distribution/tool-bar
    date=date
    canCreateRoutePlans=true
    routePlanTemplates=routePlanTemplates
    newRoutePlan=newRoutePlan
    onDateSelected=onDateSelected
    applyTemplate=applyTemplate}}

<div class="row stretch">
  {{sections/distribution/open-orders
      model=orphanedRouteVisits
      registerDropContainer=(action 'registerDropContainer')}}

  {{#each activeRoutePlans as |routePlan index|}}
    {{sections/distribution/route-plan
        index=index
        model=routePlan
        users=users
        saveTemplate=(action 'startSaveTemplate')
        destroyRoutePlan=destroyRoutePlan
        deleteRouteVisit=deleteRouteVisit
        registerDropContainer=(action 'registerDropContainer')
        registerRoutePlan=(action 'registerRoutePlan')}}
  {{/each}}
</div>

{{#if showSaveTemplateModal}}
  {{#tether-dialog close='cancelSaveTemplate'
      hasOverlay=false
      attachment='top left'
      targetAttachment='middle right'
      target=saveTemplateOptions.trigger}}
    {{ui/input-action-bar submit=(action 'submitTemplateName') autoFocus=true}}
    <button {{action 'cancelSaveTemplate'}}>Close</button>
  {{/tether-dialog}}
{{/if}}
