<div class="row">
  <div class="col stretch">
    {{#link-to (if model.location.company.isCustomer "customers.show" "vendors.show") model.location.company class="company"}}
      {{model.location.company.name}}
    {{/link-to}}

    {{#link-to (if model.location.company.isCustomer "customers.show.location" "vendors.show.location") model.location.company model.location class="locationInfo"}}
      {{model.location.code}} - {{model.location.name}}
    {{/link-to}}

    <div class="row orderInfo">
      <span class="title">
        {{if isSalesOrder "Invoice" "Purchase Order"}}
      </span>
      <span class="salesOrderNumber">
        {{model.orderNumber}}
      </span>
      <div class="row stretch toolbar">
        {{ui/icon-button
            type=(if model.isApproved "done_all" "publish")
            class="state"
            flat=true
            color=(if model.isApproved colors.DARK_GREEN colors.HOT_PINK)
            size=1.2
            action=toggleOrderState}}

        {{ui/icon-button
            type="send"
            class="send"
            flat=true
            color=colors.DARK_GREY
            size=1.2
            action=emailOrder
            disabled=(or (not model.isValid) (not model.notifiable))}}

        {{ui/icon-button
            type="local_printshop"
            class="print"
            flat=true
            color=colors.DARK_GREY
            size=1.2
            disabled=(or (not model.isValid) (not model.notifiable))
            action=(action "printOrder")}}

        {{ui/icon-button
            type="close"
            class="delete"
            flat=true
            color=colors.DARK_GREY
            size=1.2
            click=deleteOrder}}
      </div>
    </div>
  </div>
</div>

{{#each validOrderItems as |orderItem i|}}
  {{ui/order-editor/order-item-editor
      index=i
      model=orderItem
      update=updateOrderItem
      onOrderItemChange=onOrderItemChange
      save=saveOrderItem
      delete=deleteOrderItem}}
{{/each}}

{{#if (or hasUnusedItems isPurchaseOrder)}}
  <div class="addOrderItemContainer">
    {{#power-select
        placeholder="Add item"
        searchField="name"
        noMatchesMessage=noMatchesMessage
        onkeydown=(action "onItemSearchKeyDown")
        oninput=(action "stashItemSearch")
        selected=customAddItemResult
        options=items
        onchange=(action "createOrderItem")
        as |item|}}
          {{item.name}}
    {{/power-select}}
  </div>
{{/if}}

<div class="col orderTotals">
  <span class="title">Totals</span>
  {{#if isSalesOrder}}
    <span class="row group shippingContainer">
      <span>Shipping</span>
      <span class="dots"></span>
      {{ui/toggle-edit-input
          value=model.shipping
          label=(currency model.shipping)
          update=updateShipping
          onblur=saveOrder}}
    </span>
  {{/if}}
  <span class="row group totalQuantity">
    <span>Total quantity: </span>
    <span class="dots"></span>
    <span class="value">{{model.totalQuantity}}</span>
  </span>
  <span class="row group totalPrice">
    <span>Total billed: </span>
    <span class="dots"></span>
    <span class="value">{{currency model.totalPrice}}</span>
  </span>

</div>

{{#if model.notifications.length}}
  {{ui/order-editor/notifications
      notifications=model.notifications}}
{{/if}}

{{#if showCreateItemModal}}
  {{#tether-dialog}}
    {{modals/new-item
        changeset=(changeset stashedItemData validators)
        cancel=(action "cancelCreateNewItem")
        submit=(action "requestCreateNewItem")}}
  {{/tether-dialog}}
{{/if}}
