<div class="row content">
  <div class="row">
    {{ui/day-of-week-selector
        class="visitWindowDays"
        model=model.visitWindowDays
        change=(action visitWindowDaysChanged model)}}
  </div>

  <div class="row settings">
    <div class="col formField">
      <input
        type="text"
        name="min"
        value="{{minutes-to-time model.min}}"
        onblur={{action 'timeChanged' 'min'}}>
      <span class="instruction">Earliest arv.</span>
    </div>

    <div class="col formField">
      <input
        type="text"
        name="max"
        value="{{minutes-to-time model.max}}"
        onblur={{action 'timeChanged' 'max'}}>
      <span class="instruction">Latest arv.</span>
    </div>

    <div class="col formField">
      <input
        type="text"
        name="service"
        value="{{model.service}}"
        oninput={{action 'serviceChanged'}}
        onblur={{action saveVisitWindow model}}>
      <span class="instruction">Service time</span>
    </div>

  </div>
</div>
