<div class="row content">
  <div class="row">
    {{ui/day-of-week-selector
        class="visitWindowDays"
        model=model.visitWindowDays
        change=(action onDayChange model)}}
  </div>

  <div class="row settings">
    <div class="col formField">
      <input
        type="text"
        name="min"
        value="{{minutes-to-time model.min}}"
        onblur={{action "timeChanged" "min"}}>
      <span class="instruction">Earliest arv.</span>
    </div>

    <div class="col formField">
      <input
        type="text"
        name="max"
        value="{{minutes-to-time model.max}}"
        onblur={{action "timeChanged" "max"}}>
      <span class="instruction">Latest arv.</span>
    </div>

    <div class="col formField">
      <input
        type="text"
        name="service"
        value="{{model.service}}"
        onblur={{action "serviceChanged"}}>
      <span class="instruction">Service time</span>
    </div>
  </div>

  <div class="row">
    {{ui/icon-button
      flat=true
      type="clear"
      class="deleteVisitWindow"
      click=(action deleteVisitWindow model)
    }}
  </div>
</div>
