{{section/distribution/tool-bar
  date=date
  canCreateRoutePlans=hasOrderGroups
  routeTemplates=routeTemplates
  newRoutePlan=newRoutePlan
  onDateSelected=onDateSelected
  applyTemplate=applyTemplate
  saveRoutePlans=saveRoutePlans}}

<div class="row stretch">
  {{section/distribution/open-orders
    orderGroups=openOrderGroups
    registerDropContainer=(action 'registerDropContainer')}}

  {{#each routePlans as |rp index|}}
    {{section/distribution/route-plan
      index=index
      model=rp
      users=users
      saveTemplate=(action 'startSaveTemplate')
      destroyRoutePlan=this.attrs.destroyRoutePlan
      routePlanChanged=this.attrs.routePlanChanged
      registerDropContainer=(action 'registerDropContainer')
      registerRoutePlan=(action 'registerRoutePlan')}}
  {{/each}}
</div>

{{#if showSaveTemplateModal}}
  {{#tether-dialog close='cancelSaveTemplate'
      hasOverlay=false
      attachment='top left'
      targetAttachment='middle right'
      target=saveTemplateOptions.trigger}}
    {{ui/input-action-bar submit=(action 'submitTemplateName') autoFocus=true}}
    <button {{action 'cancelSaveTemplate'}}>Close</button>
  {{/tether-dialog}}
{{/if}}
