<div class="row center">
  {{ui/icon-button
    class='homeLink'
    flat=true
    label="MLVK"
    size=2
    padding=0.6
    action=(action "navigateToRoute" "sales-orders.index")}}

  <div class="row navLinksContainer">
    {{ui/icon-button
      class=(if (eq "sales-orders" nextRoute) "salesOrders active" "salesOrders")
      flat=true
      label="Sales"
      size=1.4
      padding=1.2
      action=(action "navigateToRoute" "sales-orders.index")}}

    {{ui/icon-button
      class=(if (eq "purchase-orders" nextRoute) "purchaseOrders active" "purchaseOrders")
      flat=true
      label="Purchases"
      size=1.4
      padding=1.2
      action=(action "navigateToRoute" "purchase-orders.index")}}

    {{ui/icon-button
      class=(if (eq "distribution" nextRoute) "distribution active" "distribution")
      flat=true
      label="Distribution"
      size=1.4
      padding=1.2
      action=(action "navigateToRoute" "distribution")}}

    <!-- <a href="#" class="salesOrders" {{action navigateToRoute "sales-orders"}}>Orders</a>
    <a href="#" class="purchaseOrders" {{action navigateToRoute "purchase-orders"}}>Purchases</a>
    <a href="#" class="distribution" {{action navigateToRoute "distribution"}}>Distribution</a> -->

    <!-- {{link-to 'Orders' 'sales-orders' class="salesOrders"}} -->
    <!-- {{link-to 'Purchases' 'purchase-orders' class="purchaseOrders"}} -->
    <!-- {{link-to 'Distribution' 'distribution' class="distribution"}} -->

    {{#ui/popup-menu icon='arrow_drop_down'}}
      {{#each popupItems as |item|}}
        {{ui/icon-button
          class=(camelize item.route)
          iconName="check"
          flat=true
          label=item.label
          size=1.4
          padding=1.2
          iconName=item.icon
          action=(action navigateToRoute item.route)}}
      {{/each}}
    {{/ui/popup-menu}}
  </div>
</div>

<div class="row">
  {{#if authenticated}}
    <span class="row center">
      <span class="name">{{name}}</span>
      <a href="#" {{action logout}}>
        <span class="label">Logout</span>
      </a>
    </span>
  {{else}}
    <a href="#" {{action login}}>Login</a>
  {{/if}}
</div>
