<div class="row main">
  {{link-to 'Grand Central Station' 'index' class='homeLink'}}
  <div class="row navLinksContainer">
    {{link-to 'Orders' 'sales-orders'}}
    {{link-to 'Purchases' 'purchase-orders'}}
    {{link-to 'Distribution' 'distribution'}}

    {{#ui/popup-menu icon='arrow_drop_down'}}
      {{ui/icon-button
        class='products'
        flat=true
        label='Products'
        size=1.4
        padding=1.2
        action=(action navigateToRoute 'products')}}

      {{ui/icon-button
        class='items'
        flat=true
        label='Items'
        size=1.4
        padding=1.2
        action=(action navigateToRoute 'items')}}

      {{ui/icon-button
        class='customers'
        flat=true
        label='Customers'
        size=1.4
        padding=1.2
        action=(action navigateToRoute 'companies')}}
    {{/ui/popup-menu}}
  </div>
</div>

<div class="row user">
  {{#if authenticated}}

    <span class="buttonContent row">
      <span class="name">{{name}}</span>
      <span class="pipe">|</span>
      <a href="#" {{action (action this.attrs.logout)}}>
        <span class="buttonContent row">
          <span class="label">Logout</span>
        </span>
      </a>
    </span>

  {{else}}
    <a href="#" {{action (action this.attrs.login)}}>Login</a>
  {{/if}}

</div>
