<span class="index">
  {{formattedIndex}}
</span>

<span class="name">
  {{model.item.name}}
</span>

<div class="row unitPriceContainer">

  {{#if editingUnitPrice}}
    {{ui/auto-focus-input
        class="unitPriceEditing"
        value=model.unitPrice
        update=(action (mut model.unitPrice))
        onfocus=(action 'onFocus')
        onblur=(action 'onBlurUnitPrice')}}
  {{else}}
    <span class="unitPrice" {{action 'toggleUnitPriceEditing'}}>
      {{currency model.unitPrice}}
    </span>
  {{/if}}

</div>

{{one-way-input model.quantity
    class='quantity'
    onfocus=(action 'onFocus')
    onblur=(action 'onBlur')
    update=(action (mut model.quantity))}}

{{ui/icon-button
  class='delete'
  type='close'
  flat=true
  color=colors.DARK_GREY
  padding=0.5
  click=(action delete model)}}
