<div class="col-2 codeContainer">
  {{one-way-input model.code
      onblur=(action saveItem model)
      update=(action updateItemField model 'code')}}
</div>
<div class="col-3 companyContainer">
  {{model.company.name}}
</div>
<div class="col-2 nameContainer">
  {{one-way-input model.name
      onblur=(action saveItem model)
      update=(action updateItemField model 'name')}}
</div>
<div class="col-5 descriptionContainer">
  {{one-way-input model.description
      onblur=(action saveItem model)
      update=(action updateItemField model 'description')}}
</div>

<div class="col-2 priceContainer">
  {{one-way-input model.defaultPrice
      onblur=(action saveItem model)
      update=(action updateItemField model 'defaultPrice')}}
</div>
<div class="uiContainer">
  {{ui/icon-button
    class='archiveItemButton right'
    flat=true
    color=colors.DARK_GREY
    type='close'
    click=(action archiveItem model)}}
</div>
