<div class="col-1">
  {{sum index 1}}
</div>

{{#with (changeset model validators) as |changeset|}}
  <div class="col-1 positionContainer">
    {{one-way-input changeset.position
      onblur=(action "saveItem" changeset)
      update=(action "updateItemField" changeset "position")
    }}

    {{forms/elements/error-message
      changeset=changeset
      property="position"
    }}
  </div>

  <div class="col-1 codeContainer">
    {{one-way-input changeset.code
      onblur=(action "saveItem" changeset)
      update=(action "codeChanged" changeset)
    }}

    {{forms/elements/error-message
      changeset=changeset
      property="code"
    }}

    {{#if (not codeValidator.isValid)}}
      <div class="row">Another item is using that code</div>
    {{/if}}
  </div>

  {{#if (not isProduct)}}
    <div class="col-3 companyContainer">
      {{model.company.name}}
    </div>
  {{/if}}

  <div class="col-3 nameContainer">
    {{one-way-input changeset.name
      onblur=(action "saveItem" changeset)
      update=(action "updateItemField" changeset "name")
    }}

    {{forms/elements/error-message
      changeset=changeset
      property="name"
    }}
  </div>
  <div class="col-5 descriptionContainer">
    {{one-way-input changeset.description
      onblur=(action "saveItem" changeset)
      update=(action "updateItemField" changeset "description")
    }}

    {{forms/elements/error-message
      changeset=changeset
      property="description"
    }}
  </div>

  <div class="col-1 priceContainer">
    {{one-way-input changeset.defaultPrice
      onblur=(action "saveItem" changeset)
      update=(action "updateItemField" changeset "defaultPrice")
    }}

    {{forms/elements/error-message
      changeset=changeset
      property="defaultPrice"
    }}
  </div>
{{/with}}

<div class="uiContainer">
  {{ui/icon-button
    class="archiveItemButton right"
    flat=true
    color=colors.DARK_GREY
    type="close"
    click=(action archiveItem model)}}
</div>
