<div class="col-3">
  {{one-way-input changeset.firstName
    class="firstName"
    update=(action "updateModelField" changeset "firstName")
    onblur=(action saveNotification changeset)}}

  {{#if changeset.error.firstName}}
    <p>{{changeset.error.firstName.validation}}</p>
  {{/if}}
</div>

<div class="col-3">
  {{one-way-input changeset.lastName
    class="lastName"
    update=(action "updateModelField" changeset "lastName")
    onblur=(action saveNotification changeset)}}

  {{#if changeset.error.lastName}}
    <p>{{changeset.error.lastName.validation}}</p>
  {{/if}}
</div>

<div class="col-3">
  {{one-way-input changeset.email
    class="email"
    update=(action "updateModelField" changeset "email")
    onblur=(action saveNotification changeset)}}

  {{#if changeset.error.email}}
    <p>{{changeset.error.email.validation}}</p>
  {{/if}}
</div>

{{one-way-checkbox
  changeset.wantsInvoice
  class="wantsInvoice col-2"
  update=(action "updateCheckboxField" "wantsInvoice")}}

{{one-way-checkbox
  changeset.wantsCredit
  class="wantsCredit col-2"
  update=(action "updateCheckboxField" "wantsCredit")}}

<div class="col-2">
  <i class="material-icons deleteButton" {{action deleteNotification}}>close</i>
</div>
