<h4>{{model.name}}</h4>
{{#if hasSelection}}
  {{clients/settings/desired-items
      model=model
      items=items
      updateClientItemDesire=this.attrs.updateClientItemDesire}}

  {{clients/settings/visit-schedule
      selectedDays=model.enabledVisitDayIndexes
      createVisitWindow=createVisitWindow
      updateVisitSchedule=updateVisitSchedule}}

  <span>Active: {{ui/toggle-checkbox checked=model.active model=model selected=this.attrs.toggleActive}}</span>

{{else}}
  <h4>Select a client</h4>
{{/if}}
