<div class="row">
  {{ui/icon-button
      class="deleteLocation"
      type="delete"
      label="Delete Location"
      size=1.5
      flat=true
      backgroundColor=colors.DARK_GREY
      padding=0.5
      click=(route-action "deleteLocation" model)
  }}
</div>

<div class="row stretch">
  {{sections/locations/notification-rules
      model=model
      createNotification=(route-action "createNotification" model)
      saveNotification=(route-action "saveNotification")
      deleteNotification=(route-action "deleteNotification")}}
</div>

<div class="stretch section">
  {{sections/locations/location-settings
      model=model
      isVendor=true
      save=(route-action "saveLocation")}}

  {{sections/locations/address-manager
      changeset=(changeset model.address.content AddressValidations)
      addresses=addresses
      switchAddress=(route-action "switchAddress" model)
      saveAddress=(route-action "saveAddress" model)}}

  {{sections/locations/schedule-manager
      model=model
      onVisitDayChange=(route-action "onVisitDayChange")
      onVisitWindowChange=(route-action "onVisitWindowChange")
      onVisitWindowDayChange=(route-action "onVisitWindowDayChange")
      createVisitWindow=(route-action "createVisitWindow")}}
</div>
