<div class="formContainer">
  {{#with (changeset model validations) as |changeset|}}
    {{forms/elements/validated-field
        class="name"
        changeset=changeset
        property="name"
        validateProperty=validateProperty}}

    {{forms/elements/validated-field
        class="description"
        changeset=changeset
        property="description"
        validateProperty=validateProperty}}

    {{forms/elements/validated-field
        class="code"
        changeset=changeset
        property="code"
        validateProperty=validateProperty}}

  	<div class="row">
    	<button {{action save changeset}} disabled={{changeset.isInvalid}} class="button-primary">Save</button>
    	<button {{action reset changeset}}>Reset</button>
  	</div>
  {{/with}}
</div>
