<div class="formContainer">
  {{#with (changeset model validations) as |changeset|}}
    {{forms/elements/validated-field
        changeset=changeset
        property="name"
        validateProperty=(action validateProperty changeset "name")}}

    {{forms/elements/validated-field
        changeset=changeset
        property="description"
        validateProperty=(action validateProperty changeset "description")}}

    {{forms/elements/validated-field
        changeset=changeset
        property="code"
        validateProperty=(action validateProperty changeset "code")}}

  	<div class="row">
    	<button {{action save changeset}} disabled={{changeset.isInvalid}} class="button-primary">Save</button>
    	<button {{action reset changeset}}>Reset</button>
  	</div>
  {{/with}}
</div>
