
<div class="col stretch content">

  <div class="addressAutoComplete">
    {{place-autocomplete-field
        value=tempAddress
        disable=false
        handlerController=this
        inputClass= 'place-autocomplete--input'
        focusOutCallback=(action 'onBlur')
        placeChangedCallback=(action 'update')}}
  </div>

  {{#leaflet-map
      scrollWheelZoom=false
      lat=lat
      lng=lng
      zoom=zoom as |layers|}}

    {{layers.tile url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}@2x.png"}}
      {{#if value}}
        {{#layers.marker lat=value.lat lng=value.lng}}
          <strong>{{value.street}}</strong>
          <br>
          <span>{{value.city}}, {{value.state}} {{value.zip}}</span>
        {{/layers.marker}}
      {{/if}}
  {{/leaflet-map}}

  {{#power-select
      class='addressSelect'
      options=addresses
      placeholder="Choose existing address"
      searchField="full"
      searchEnabled=true
      onchange=switchAddress
      as |address|}}
    {{address.full}}
  {{/power-select}}
</div>
