<div class="row">
  {{ui/date-picker
    date=deliveryDate
    onSelected=onDateSelected
    format="ddd MM-DD-YYYY"}}
</div>

<div class="row filterBar">
  {{ui/filter-bar
      placeholder="Search..."
      onChange=(action "filterOrders")}}

  <div class="col center baseline">
    <div class="row">
      {{one-way-checkbox
        includeDraft
        class="includeDraft"
        update=(action "updateFilter" "includeDraft")}}
      Draft
    </div>

    <div class="row">
      {{one-way-checkbox
        includeApproved
        class="includeApproved"
        update=(action "updateFilter" "includeApproved")}}
        Approved
      </div>
  </div>

  {{#ui/popup-menu}}
    {{#if hasStubAction}}
      {{ui/icon-button
        class="stubOrders"
        flat=true
        label="Stub Orders"
        type="add"
        click=stubOrders}}
    {{/if}}

    {{ui/icon-button
      class="createOrder"
      flat=true
      label="New Order"
      type="add"
      click=onRequestNewOrder}}

  {{/ui/popup-menu}}
</div>

{{lists/grouped-list
    highlightedItem=currentSelectedOrder
    itemClicked=onOrderSelected
    model=groupedOrders}}
