<div class="row">
  {{ui/date-picker
    date=deliveryDate
    onSelected=onDateSelected
    format="ddd MM-DD-YYYY"}}
</div>

<div class="row filterBar">
  {{ui/filter-bar
      placeholder="Search..."
      onChange=(action "filterOrders")}}

  <div class="row right filterOptionsContainer">
    {{ui/toggle-button
      class="option includeDraft"
      selected=includeDraft
      selectedTooltipMessage="hide drafts"
      unSelectedTooltipMessage="show drafts"
      iconName="drafts"
      click=(action "toggleIncludeDraft")}}

    {{ui/toggle-button
      class="option includeApproved"
      selected=includeApproved
      selectedTooltipMessage="hide approved"
      unSelectedTooltipMessage="show approved"
      iconName="done_all"
      click=(action "toggleIncludeApproved")}}
  </div>

  {{#ui/popup-menu}}
    {{#if hasStubAction}}
      {{ui/icon-button
        class="stubOrders"
        flat=true
        label="Stub Orders"
        type="add"
        click=stubOrders}}
    {{/if}}

    {{ui/icon-button
      class="createOrder"
      flat=true
      label="New Order"
      type="add"
      click=onRequestNewOrder}}

    {{#if hasDuplicateAction}}
      {{ui/icon-button
        class="duplicateOrders"
        flat=true
        label="Duplicate Orders"
        type="content_copy"
        disabled=(not hasOrders)
        click=onRequestDuplicateOrders}}
    {{/if}}

  {{/ui/popup-menu}}
</div>

{{lists/grouped-list
    highlightedItem=currentSelectedOrder
    itemClicked=onOrderSelected
    model=groupedOrders}}
