<span class="index">
  {{formattedIndex}}
</span>

<span class="name">
  {{model.item.name}}
</span>

<input
  type="text"
  class="quantity"
  name="{{model.item.name}}-qty"
  value={{model.quantity}}
  oninput={{action 'update'}}
  onchange={{action 'update'}}
  onfocus={{action 'onFocus'}}
  onblur={{action 'onBlur'}}>

{{ui/icon-button
  class='delete'
  type='close'
  flat=true
  color=colors.DARK_GREY
  padding=0.5
  click=(action delete model)}}
