<span class="index">
  {{formattedIndex}}
</span>

<span class="name">
  {{model.item.name}}
</span>

<div class="row unitPriceContainer">

  {{#if editingUnitPrice}}
    {{ui/auto-focus-input
        type="text"
        class="unitPriceEditing"
        name=(concat model.item.name '-unitPrice')
        value=model.unitPrice
        onChange=(action 'update' 'unitPrice')
        onFocus=(action 'onFocus')
        onBlur=(action 'onBlurUnitPrice')}}
  {{else}}
    <span class="unitPrice" {{action 'toggleUnitPriceEditing'}}>
      {{currency model.unitPrice}}
    </span>
  {{/if}}

</div>

<input
  type="text"
  class="quantity"
  name="{{model.item.name}}-qty"
  value={{model.quantity}}
  oninput={{action 'update' 'quantity'}}
  onchange={{action 'update' 'quantity'}}
  onfocus={{action 'onFocus'}}
  onblur={{action 'onBlur'}}>

{{ui/icon-button
  class='delete'
  type='close'
  flat=true
  color=colors.DARK_GREY
  padding=0.5
  click=(action delete model)}}
