{{ui/title-bar
  title=(if isHidden "Location note +" "Location note -")
  click=(toggle "isHidden" this)}}
<div class={{if isHidden "chart hidden" "chart"}}>
  <textarea
  rows="3"
  cols="100"
  name="note"
  value="{{locationNote}}"
  oninput={{action "noteChanged"}}
  onchange={{action "noteChanged"}}
  onblur={{action save locationNote}}>
  </textarea>
</div>
