{{#if model.isOrphan}}
  {{#marker-layer lat=model.address.lat lng=model.address.lng}}
    <div class="col">
      <span class="company">
        {{companyName}}
      </span>
      <span class="street">
        {{model.address.street}}
      </span>
      <span class="addressSecond">
        {{model.address.city}}, {{model.address.state}} {{model.address.zip}}
      </span>
    </div>
  {{/marker-layer}}
{{else}}
  {{#marker-layer lat=model.address.lat lng=model.address.lng icon=(rp-icon index model.backgroundColor)}}
    <div class="col">
      <span class="company">
        {{companyName}}
      </span>
      <span class="street">
        {{model.address.street}}
      </span>
      <span class="addressSecond">
        {{model.address.city}}, {{model.address.state}} {{model.address.zip}}
      </span>
    </div>
  {{/marker-layer}}
{{/if}}
