{{#marker-layer
    onPopupopen=(action selectRouteVisit model)
    onPopupclose=(action selectRouteVisit undefined)
    popupOpen=(eq selectedRouteVisit.id model.id)
    lat=model.address.lat
    lng=model.address.lng
    icon=(if model.isOrphan defaultIcon (rp-icon index color))}}
  <div class="col">
    <span class="company">
      {{companyName}}
    </span>
    <span class="street">
      {{model.address.street}}
    </span>
    <span class="addressSecond">
      {{model.address.city}}, {{model.address.state}} {{model.address.zip}}
    </span>
  </div>
{{/marker-layer}}
