{{ui/title-bar
  title=(if isHidden "Item totals +" "Item totals -")
  click=(toggle "isHidden" this)}}
<div class={{if isHidden "chart hidden" "chart"}}>
  {{#each itemTotals as |itemTotal|}}
    <div class="row stretch left spaceBetween itemRow">
      <span class="name">{{itemTotal.name}}</span>
      <span class="quantity">{{itemTotal.quantity}}</span>
    </div>
  {{/each}}

  <br>

  <div class="row stretch left spaceBetween itemRow">
    <span class="name">Total Units:</span>
    <span class="quantity">{{totalUnits}}</span>
  </div>
</div>
