<div class="col-4">
  {{inc index}}. {{model.name}}
</div>
<div class="col-1">
  {{currency model.total_sales}}
</div>
<div class="col-1">
  {{percentage salesRatio}}
</div>
<div class="col-1">
  {{currency model.total_spoilage}}
</div>
<div class="col-1">
  {{percentage spoilageRatio}}
</div>
