{{ui/order-editor
    model=model
    items=filteredItems
    updateShipping=(route-action "updateShipping")
    saveOrder=(route-action "saveOrder")
    createOrderItem=(route-action "createOrderItem")
    updateOrderItem=(route-action "updateOrderItem")
    saveOrderItem=(route-action "saveOrderItem")
    deleteOrderItem=(route-action "deleteOrderItem")
    onOrderItemChange=(action "onOrderItemChange")
    emailOrder=(route-action "emailOrder" model)
    deleteOrder=(route-action "deleteOrder" model)
    toggleOrderState=(route-action "toggleOrderState" model)
    updateDeliveryDate=(route-action "updateDeliveryDate" model)}}

{{#sticky-container}}
  <div class="row top wrap">
    {{charts/location-item-info
        item=item
        location=model.location
        itemTotals=itemTotals
        salesData=salesData.lastObject
        isLoading=loadingFbData}}

    {{sections/locations/location-note
        locationNote=model.location.note
        save=(route-action "saveLocationNote" model.location)}}

    {{charts/item-location-sales-trend
        item=item
        salesData=salesData
        isLoading=loadingFbData}}

    {{charts/item-totals
        orders=salesOrders}}
  </div>
{{/sticky-container}}
