<div class="row wrap">
  <div class="col-2">
    {{sections/locations/location-settings
        model=model
        fieldChanged=(route-action 'fieldChanged')
        save=(route-action 'saveLocation')
        delete=(route-action 'deleteLocation')}}

    {{sections/locations/address-creator
        model=model.address
        update=(route-action 'updateAddress')
        save=(route-action 'saveAddress')}}
  </div>
{{log itemSettings}}
  <div class="col-2">
    {{sections/locations/item-desires
        itemSettings=itemSettings
        onDesireChange=(route-action 'updateItemDesire')
        onCreditChange=(route-action 'updateItemCreditRate')
      }}

    {{sections/locations/visit-schedule
        visitDays=model.visitDays
        visitWindows=model.visitWindows
        visitDaysChanged=(route-action 'updateVisitDays')
        visitWindowDaysChanged=(route-action 'visitWindowDaysChanged')
        visitWindowChanged=(route-action 'visitWindowChanged')
        createVisitWindow=(route-action 'createVisitWindow')
        saveVisitWindow=(route-action 'saveVisitWindow')}}
  </div>
</div>
