<label>
  Delivery Date:
  {{ui/date-picker
    onSelect=onDateSelected
    value=selectedDeliveryDate
    format='YYYY-MM-DD'}}
</label>

<!-- {{ember-selectize
  content=clients
  optionValuePath="content"
  optionLabelPath="content.code"
  select-item=this.attrs.createSalesOrder
  placeholder="Select a client" }} -->

<a href="#" {{action (action attrs.stubOrders)}}>Stub Orders</a>
<!-- <a href="#" {{action (action attrs.generateSalesOrders)}}>Generate SalesOrders</a> -->

<ul>
  {{#each companyOrders as |orderData|}}
    {{lists/grouped-orders-list
      company=orderData.company
      model=orderData.orders
      onSalesOrderSelected=attrs.onSalesOrderSelected}}
  {{/each}}
</ul>
