<div class="priceTierContainer">
  <div class="priceTierName">
    {{one-way-input model.name
        update=(action updateModelField model "name")
        onblur=(action saveModelIfDirty model)}}
  </div>

  <span>New items</span>
  <div class="openItemPricesContainer">
    {{#each openItemPrices as |ip|}}
      {{ui/price-row
          model=ip
          name=ip.item.name
          updateModelField=updateModelField
          saveModelIfDirty=saveModelIfDirty}}
    {{/each}}
  </div>


  <span>Fulfilled Items</span>
  <div class="fulfilledItemPricesContainer">
    {{#each fulfilledItemPrices as |ip|}}
      {{ui/price-row
          model=ip
          name=ip.item.name
          updateModelField=updateModelField
          saveModelIfDirty=saveModelIfDirty}}
    {{/each}}
  </div>

  <div class="row">
    <button class="buttonDelete" {{action "onRequestDestroyPriceTier"}}>Delete</button>
  </div>
</div>

{{#if showDestroyPriceTierModal}}
  {{#tether-dialog close=(action "closeDestroyPriceTier")}}
    {{modals/destroy-price-tier
      model=model
      priceTiers=priceTiers
      close=(action "closeDestroyPriceTier")
      submit=(action "destroyPriceTier")
    }}
  {{/tether-dialog}}
{{/if}}
