<div class="row">
  <div class="col stretch">
    <span class="company">
      {{model.location.company.name}}
    </span>
    <span class="locationInfo">
      {{model.location.id}} - {{model.location.name}}
    </span>

    <div class="row invoiceHeaderContainer">
      <span class="invoiceLabel">
        Invoice
      </span>
      <span class="salesOrderNumber">
        {{model.orderNumber}}
      </span>
      <div class="row stretch toolbar">
        <div class="row">
          {{ui/icon-button
              type='local_printshop'
              class='print'
              flat=true
              color=colors.DARK_GREY
              size=1.2
              action=(action 'printOrder')}}
        </div>
        <div class="row">
          {{ui/icon-button
              type='close'
              class='delete'
              flat=true
              color=colors.DARK_GREY
              size=1.2
              click=deleteOrder}}
        </div>
      </div>
    </div>
  </div>
</div>

{{#each model.orderItems as |orderItem i|}}
  {{sections/sales-orders/order-item-editor
      index=i
      model=orderItem
      update=updateOrderItem
      onOrderItemChange=onOrderItemChange
      save=saveOrderItem
      delete=deleteOrderItem}}
{{/each}}

{{#if hasMissingItems}}
  <div class="addOrderItemContainer">
    {{#power-select
        class='search'
        placeholder='Add item manually'
        selected=customAddItemResult
        options=missingItems
        onchange=(action "createOrderItem")
        as |item|}}
          {{item.name}}
    {{/power-select}}
  </div>
{{/if}}
