{{#with (changeset model validators) as |changeset|}}
  <div class="row">
    <input
      type="text"
      name="name"
      class="col-5 name"
      placeholder="Location nickname"
      value="{{changeset.name}}"
      oninput={{action "fieldChanged" changeset "name"}}
      onchange={{action "fieldChanged" changeset "name"}}
      onblur={{action "save" changeset}}>

      <input
        type="text"
        name="code"
        class="col-2 code"
        placeholder="Code"
        value="{{changeset.code}}"
        oninput={{action "codeChanged" changeset}}
        onblur={{action "save" changeset}}>
    {{#unless isVendor}}
      <input
      type="text"
      name="deliveryRate"
      class="col-2 deliveryRate"
      maxlength="7"
      placeholder="Delivery rate"
      value="{{changeset.deliveryRate}}"
      oninput={{action "fieldChanged" changeset "deliveryRate"}}
      onchange={{action "fieldChanged" changeset "deliveryRate"}}
      onblur={{action "save" changeset}}>
    {{/unless}}
  </div>

  <div class="row schetch rowData">
    <textarea
    rows="3"
    cols="100"
    name="note"
    class="note"
    value="{{changeset.note}}"
    oninput={{action "fieldChanged" changeset "note"}}
    onchange={{action "fieldChanged" changeset "note"}}
    onblur={{action "save" changeset}}>
    </textarea>
  </div>

  <div class="errorMessageContainer">
    {{#each changeset.errors as |error|}}
      <div class="row">{{error.key}}:{{error.validation}}</div>
    {{/each}}

    {{#if (not codeValidator.isValid)}}
      <div class="row">Another location is using that code</div>
    {{/if}}
  </div>
{{/with}}
