<div class="col stretch content">
  {{ui/input-action-bar
      class='addressSearch'
      type='search'
      placeholder='Search for address'
      submit=(action 'searchAddress')}}

  {{#leaflet-map
      scrollWheelZoom=false
      lat=lat
      lng=lng
      zoom=zoom as |layers|}}

    {{layers.tile url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}@2x.png"}}
      {{#if model}}
        {{#layers.marker lat=model.lat lng=model.lng}}
          <strong>{{model.street}}</strong>
          <br>
          <span>{{model.city}}, {{model.state}} {{model.zip}}</span>
        {{/layers.marker}}
      {{/if}}
  {{/leaflet-map}}

</div>
<span class="fullAddress">{{model.full}}</span>
